Repository TingYuLC/react-start-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-css, npm run lint-ts

.lintstagedrc:

{
  "src/**/*.{css,less}": [
    "npm run lint-css",
    "git add"
  ],
  "src/**/*.{ts,tsx}": [
    "npm run lint-ts",
    "git add"
  ]
}

add .stylelintignore
  .stylelintignore
Due: none

build css add contenthash
  build/webpack.prod.conf.js
Due: none

add postcss-loader autoprefixer
  build/webpack.base.conf.js
  package-lock.json
  package.json
  postcss.config.js
Due: none

fix postcss-loader
  build/webpack.base.conf.js
Due: none

fix css contenthash
  build/webpack.prod.conf.js
Due: none

delete dist
  dist/index.html
  dist/static/css/main.css
  dist/static/js/main.8fae3b90b9d2864907db.js
  dist/static/js/runtime.e78ece5f4649b5a3e43d.js
  dist/static/js/vendor.52724b04eff8eeb75b11.js
Due: none

add favicon && --progress
  build/webpack.base.conf.js
  config/index.js
  package.json
  template/favicon.ico
Due: none

add demo
  src/components/Hello.tsx
  src/hello.css
  src/index.less
  src/index.tsx
  src/static/images/Loading.png
  src/static/images/logo.png
Due: npm run lint-css, npm run lint-ts

pack
  dist/favicon.ico
  dist/index.html
  dist/static/css/main.b501bf8f916a82760b1d.css
  dist/static/img/logo.33dbdd0.png
  dist/static/js/main.d876886741f759c0d15d.js
  dist/static/js/runtime.af7a16dd5cc1f858f4c8.js
  dist/static/js/vendor.52724b04eff8eeb75b11.js
Due: none

add node-notifier img
  build/utils.js
  template/logo.png
Due: none

update lint-css && lint-ts
  package-lock.json
  package.json
Due: none

add eslint-loader
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  config/index.js
  package-lock.json
  package.json
Due: none

modify lint
  package.json
Due: none

add basic Carouse
  .eslintrc.js
  build/webpack.dev.conf.js
  config/index.js
  src/App.tsx
  src/components/Carouse/Index.tsx
  src/components/Carouse/index.less
  src/components/index.ts
  src/index.less
  src/index.tsx
Due: npm run lint-css, npm run lint-ts

add movie demo
  .eslintrc.js
  src/App.tsx
  src/components/index.ts
  src/demo/index.ts
  src/demo/theater/Header.tsx
  src/demo/theater/Movie.tsx
  src/demo/theater/Search.tsx
  src/demo/theater/index.less
  src/demo/theater/index.tsx
  src/index.less
  src/index.tsx
Due: npm run lint-css, npm run lint-ts

modify eslintrc
  .eslintrc.js
Due: none

modify tsconfig.json && add douban list
  .eslintignore
  .eslintrc.js
  src/components/Rating/index.less
  src/components/Rating/index.tsx
  src/components/index.ts
  src/demo/theater/Poster.tsx
  src/demo/theater/index.less
  src/demo/theater/index.tsx
  src/service/api.js
  src/service/movie/index.js
  src/static/images/star_empty.png
  src/static/images/star_full.png
  src/static/images/star_half.png
  src/static/index.ts
  src/types/images.d.ts
  template/index.html
  tsconfig.json
Due: npm run lint-css, npm run lint-ts

modify Carouse
  src/components/Carouse/Carouse.tsx
  src/components/index.ts
Due: npm run lint-ts

rewrite Carouse name
  src/components/Carouse/index.tsx
  src/components/index.ts
Due: npm run lint-ts

add polyfill
  .babelrc
  build/webpack.base.conf.js
  package-lock.json
  package.json
  src/demo/theater/index.tsx
  src/index.tsx
Due: npm run lint-ts

add dllPlugin
  build/webpack.base.conf.js
  build/webpack.dll.conf.js
  build/webpack.prod.conf.js
  package-lock.json
  package.json
  webpack.config.js
Due: none

add dll file
  build/webpack.base.conf.js
  build/webpack.dll.conf.js
Due: none

pack
  dist/index.html
  dist/static/css/main.b501bf8f916a82760b1d.css
  dist/static/css/main.ed7ed4af9de6c47a7ee4.css
  dist/static/img/logo.33dbdd0.png
  dist/static/img/star_empty.221238e.png
  dist/static/img/star_full.6ae3e03.png
  dist/static/img/star_half.0ba1682.png
  dist/static/js/main.cf529757af073dc9d67c.js
  dist/static/js/main.d876886741f759c0d15d.js
  dist/static/js/polyfill.21e116887d5be032016c.dll.js
  dist/static/js/runtime.ffe07bcabe78c1ed4a50.js
  dist/static/js/vendor.52724b04eff8eeb75b11.js
  dist/static/js/vendor.5f55a6ca02ed8d0f7274.dll.js
  dll/polyfill.21e116887d5be032016c.dll.js
  dll/polyfill.manifest.json
  dll/vendor.5f55a6ca02ed8d0f7274.dll.js
  dll/vendor.manifest.json
Due: none

兼容到ie10
  .babelrc
  package-lock.json
Due: none

pack
  dist/index.html
  dist/static/css/main.598b46a57037d613a917.css
  dist/static/js/main.8480678f9b08f8088e8a.js
  dist/static/js/main.cf529757af073dc9d67c.js
Due: none

add react-router && modify webpack publickPath
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  config/index.js
  package-lock.json
  package.json
Due: none

modify lint
  .lintstagedrc
  package.json
Due: none

mofify demo to pages
  src/App.tsx
  src/demo/index.ts
  src/index.tsx
  src/pages/Home/Header.tsx
  src/pages/Home/Movie.tsx
  src/pages/Home/Poster.tsx
  src/pages/Home/Search.tsx
  src/pages/Home/index.less
  src/pages/Home/index.tsx
  src/pages/MovieDetail/index.tsx
  src/pages/index.ts
Due: npm run lint-css, npm run lint-ts

pack
  dist/index.html
  dist/static/css/main.c58c48f45847039f3c87.css
  dist/static/js/main.8480678f9b08f8088e8a.js
  dist/static/js/main.bcb29ca16b99f382c7b4.js
  dist/static/js/runtime.cf7a3b73f0665b0eb537.js
  dist/static/js/runtime.ffe07bcabe78c1ed4a50.js
  dist/static/js/vendor.dc05f60c0165ab92f946.js
  dist/static/js/vendor.dc05f60c0165ab92f946.js.LICENSE
Due: none

add theme pages && delete surplus code
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/Carouse/index.tsx
  src/components/Hello.tsx
  src/components/Rating/index.tsx
  src/configs/theme.tsx
  src/pages/Home/Header.tsx
  src/pages/Home/Movie.tsx
  src/pages/Home/Poster.less
  src/pages/Home/Poster.tsx
  src/pages/Home/Search.tsx
  src/pages/Home/index.less
  src/pages/Home/index.tsx
  src/pages/MovieDetail/index.less
  src/pages/MovieDetail/index.tsx
  src/pages/Theme/index.less
  src/pages/Theme/index.tsx
  src/pages/index.ts
  tsconfig.json
  types/images.d.ts
Due: npm run lint-css, npm run lint-ts

add plugin:@typescript-eslint/recommended
  .eslintrc.js
Due: none

add redux
  package-lock.json
  package.json
  src/App.tsx
  src/components/Carouse/index.tsx
  src/components/index.ts
  src/configs/theme.tsx
  src/index.tsx
  src/pages/Header/index.less
  src/pages/Header/index.tsx
  src/pages/Home/index.tsx
  src/pages/MovieDetail/index.tsx
  src/pages/Theme/index.tsx
  src/pages/index.ts
  src/static/images/back.png
  src/static/images/right_arrow.png
  src/static/images/search.png
  src/static/images/toning.png
  src/static/index.ts
  src/store/index.ts
  src/store/theme/action.ts
  src/store/theme/reducer.ts
  src/store/theme/types.ts
Due: npm run lint-css, npm run lint-ts

add Header
  package-lock.json
  package.json
  src/App.tsx
  src/pages/Header/index.tsx
Due: npm run lint-ts

header config
  build/webpack.base.conf.js
  src/configs/header.ts
  src/configs/theme.ts
  src/pages/Header/index.tsx
Due: npm run lint-ts
